body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #1145AC;
  }
  .container {
    margin: 0px 166px;
  }
  .room {
    color: white;
    margin-top: 4px;
    left: 46px;
  }